.card-plant-tabs .ant-tabs-tab {
    padding-top: 0;
}

.card-plant-tabs__weeks {
    display: grid;
    grid-gap: 30px;
}

.week__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #1b7aff;
}

.week__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
    transition: all .33s ease;
}

.day {
    background: #fff;
    border: 1px solid #e1eeff;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    grid-gap: 10px;
    align-content: flex-start;
    transition: all .33s ease;
}

.popover-content {
    display: grid;
    grid-gap: 10px;
}

.day:hover {
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 4%);
}

.day.ant-popover-open {
    box-shadow: 0 5px 20px 6px rgb(27 122 255 / 16%);
    transform: scale(.98);
}

.day.--deleted {
    box-shadow: 0 5px 20px 6px rgb(0 0 0 / 8%),
    inset 0 0 0 2px #ef1b1b;
}

.week__description {
    margin-bottom: 18px;
}

.test-btn {
    padding: 10px;
    margin: 10px auto 0;
    width: max-content;
    display: block;
    background: #ddd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.calendar-day-info {
    display: grid;
    align-content: flex-start;
    justify-content: flex-start;
    background: #fbfbfb;
    border-radius: 8px;
    padding: 6px 10px;
    gap: 1px;
    box-shadow: inset 0 0 0 1px #f0f0f0;
}

.calendar-day-info:empty {
    display: none;
}

.calendar-day-info.--passed {
    box-shadow: inset 0 0 0 2px #21d388;
}

.card-plant-tabs__calendar .ant-picker-cell .ant-picker-cell-inner .ant-picker-calendar-date-content {
    height: 130px;
    padding-bottom: 5px;
}

.app-plant-item__home-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.app-plant-item__home-link > span:last-child {
    display: none;
}

.app-plant-item__home-link:hover > span:last-child {
    display: block;
}

.app-plant-item__home-link:hover > span:nth-child(2) {
    display: none;
}

.app-plant-item__home-link .anticon {
    margin-top: 1px;
}

.app-plant-item.app-plant-item_card-plant {
    margin-bottom: 24px;
}

.card-plant-tabs .ant-tabs-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(255 255 255 / 80%);
    backdrop-filter: blur(24px);
    margin: -10px -24px 24px -24px;
    padding: 10px 24px 0;
}

.day.--archived {
    opacity: .4;
    transform: scale(.94);
}

.week {
    background: linear-gradient(45deg, rgb(22 119 255 / 3%), transparent);
    border-radius: 8px;
    border: 1px solid rgb(22 119 255 / 3%);
    padding: 24px;
}

.day__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.day__title__text {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.day__title__date {
    background: #1b7aff;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    padding: 0 5px;
}

.day__humidity {
    background: rgb(22 119 255 / 3%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    line-height: 28px;
}

.day__humidity__title {
    font-weight: 300;
    font-size: 14px;
    color: #1b7aff;
}

.day__humidity__value {
    font-size: 48px;
    font-weight: 400;
    color: #1b7aff;
}

.day__humidity__value small {
    font-size: 18px;
    font-weight: 400;
}

.day__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.tag {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag__icon {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: block;
}

.select-tags-option__icon {
    width: 18px;
    height: 18px;
}

.select-tags-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

.day.--passed {
    background: #1b7aff;
    color: #fff;
}

.day.--passed .day__title__date {
    background: #fff;
    color: #000;
}

.day.--passed .day__humidity {
    background: rgb(180 211 255 / 5%);
}

.day.--passed .day__humidity__title {
    color: #fff;
}

.day.--passed .day__humidity__value {
    color: #fff;
}

.day.--passed .tag {
    pointer-events: auto;
}

.popover-content__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.popover-content__grid > button {
    width: 100%;
}

.week__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    gap: 24px;
}

.week__buttons > button:nth-child(2) {
    margin-right: auto;
}
