.app-header {
    height: auto;
    background: #fff;
    border-bottom: 1px solid #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.app-header-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header-user {
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    gap: 12px;
}

.app-header-user__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #f0f0f0;
}

.app-header-user__name {
    font-weight: 500;
    text-transform: uppercase;
}

.app-header-user-content {
    display: grid;
    grid-gap: 8px;
}
