.App-header {
    margin-bottom: 25px;
}

.App-header__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}

.App-header__logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.App-header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}