* {
    box-sizing: border-box;
}

.plant-page {
    display: grid;
    grid-gap: 30px;
    margin: auto;
}

.plant-page__header {
    font-size: 1.5em;
}

.plant-page__content {
    font-size: 14px;
}

.plant-page__row {
    background: #f3f3f3;
    padding: 30px;
}

.plant-page__weeks {
    display: grid;
    grid-gap: 15px;
}

.week {
    display: grid;
    background: #ddd;
    padding: 15px;
    grid-gap: 10px;
}

.week__title {
    font-size: 1.3em;
}

.week__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}

.day {
    background: #3b3b3b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    gap: 10px;
    height: 140px;
}

.day__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 25px;
}

.tag__name {
    position: absolute;
    left: 50%;
    margin: auto;
    bottom: -25px;
    transform: translate(-50%, 0);
    width: fit-content;
    background: #fff;
    color: #000;
    font-size: 12px;
    padding: 2px;
    opacity: 0;
}

.tag__icon img {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    background: #fff;
    border-radius: 50%;
}

.tag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag:hover .tag__name {
    opacity: 1;
}

.listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.homepage__plants {
    max-width: 1180px;
    margin: auto;
}

.listing a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    height: 150px;
    text-decoration: none;
    font-size: 1.3em;
}

.listing__item {
    flex-direction: column;
    gap: 10px;
}

.listing__item__category {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.cat {
    background: #000;
    color: #fff;
    border-radius: 12px;
    padding: 2px 15px;
}

.plant-page__cats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.plant-page__cats__items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plant-page__btn {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin: 0;
    margin-bottom: -30px;
}

.day.--passed {
    background: #c74d4d;
}