.app-home {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-gap: 24px;
    align-items: flex-start;
}

.app-plants-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
}

.card-sidebar__body {
    display: grid;
    grid-gap: 24px;
    align-items: flex-start;
    margin-top: -7px;
}

.card-sidebar .ant-card-body:after, .card-sidebar .ant-card-body:before {
    display: none;
}

.app-plants-archive-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.card-sidebar__section {
    display: grid;
    grid-gap: 12px;
}

.card-sidebar__title {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #f0f0f0;
}

.card-sidebar__list {
    display: grid;
    grid-gap: 5px;
}

/*plant item*/
.app-plant-item__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: #1f1f1f;
    color: transparent;
}

.app-plant-item {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 12px;
    line-height: normal;
}

.app-plant-item__name {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 12px;
}

.app-plant-item__picture {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 160px;
    overflow: hidden;
    margin: 0 auto 12px;
    border-radius: 8px;
    background: #1f1f1f;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 0 9px rgb(0 0 0 / 12%);
    padding-block: 12px;
}

.app-plant-item__days {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    padding: 4px 18px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: rgb(255 255 255 / 82%);
    text-transform: uppercase;
    font-weight: 700;
}

.app-plant-item__date, .app-plant-item__category {
    color: rgba(0, 0, 0, 0.88);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.app-plant-item__date {
    margin-bottom: 4px;
}

.app-plant-item__category {
    font-weight: 500;
}

.app-plant-item:hover {
    background: #fbfbfb;
}
