*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  position: relative;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: calc(100% + 1px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #1677ff;
  border: 3px solid #f5f5f5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4096ff;
}

.fadeIn {
  animation: 0.6s fadeIn forwards;
}

.fadeOut {
  animation: 0.6s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: .3;
    filter: blur(16px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
  to {
    opacity: .3;
    filter: blur(16px);
    transform: translateY(100px);
  }
}