.app-plants-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
}

.app-plants-tags {
    margin-bottom: 24px;
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #f0f0f0;
}

.app-plants-tags > *:not(:last-child) {
    position: relative;
    z-index: 1;
}

.app-plants-tags > *:not(:last-child):after {
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: #f0f0f0;
}

